/* 

This file contains all your CSS style rules. 
indent = 2 spaces, not tabs 

Reference: http://www.w3schools.com/css/default.asp

colors:
#649ABF
#43667F
#85CDFF
#213340
#78B8E5

*/

/* because every browser has a built in stylesheet we have to reset those properties that we want to manipulate later. We do this by setting those properties to zero for the entire HTML document and any other tag selectors we want to redefine from scratch*/
html h1 {
  margin: 0;

}


/**** CSS Styles for body: ****/
body {
  font-size: 2.0em;
  font-family: "Raleway+Dots", Helvetica, Verdana, sans-serif;
  background-color: #FFFFFF;
}

a{
  color:;
  text-decoration:none;
}

.container{
  width: 90%;

}


/**** Header ****/
.page_heading {
	color: blue;

}

.contact_information a{
	color: black;
}




/**** Primary Nav Bar Top ****/
.primary_nav{

}

.primary_nav li{
}


.primary_nav ul{
 
}



.primary_nav a{
  
}





/**** Local Nav Bar Left ****/
.local_nav{

}

.local_nav li{
  float: right;
 
}

.local_nav a{
  color: blue;

}



/**** Main body ****/
.main{

}

.main h1{
  font-size: 1.25em;
  color:black;

}

.main h2{
  font-size: 1.0em;
  color:black;

}

.main p{
  font-size: .75em;
  color:black;

}

.testamonials{

  
}




/**** Footer ****/
.footer {
  color: black;

}












