body {
	color: #333;
	font-family: Questrial, Arial, sans-serif;
}

header {
	background-color: #D4E6E8;
}

header img {
	width: 100%;
}

footer {
	background-color: #685F64;
	padding-top: 25px;
	height: 150px;
	color: #fff;
}

footer h3 {
	font-size: 20px;
	padding-bottom: 15px;
	font-weight: bold;
}

p {
	padding-top: 10px;
	color: #333;
}

a{
	text-decoration: none;
	color: #fff;
}

nav li {
	display: inline-block;
	font-size: 20px;
	padding: 15px 0 10px 0;
}

nav a {
	padding: 10px 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

nav a:link {
	background-color: #685F64;
	color: #fff;
	padding: 10px 15px;

}

nav a:hover {
	background-color: #fff;
	color: #684056;
	padding: 10px 15px;

}


#topbar {
	background-color: #684056;
	padding-top: 25px;
	height: 325px;
}

#topbar img {
	-moz-border-radius: 100px;
	border-radius: 125px;
	margin-left: 35px;
}


#topbar li {
	margin-left: 35px;
	display: inline-block;
	text-align: center;
}

#topbar p {
	/* text-align: center;
	margin-left: 60px; */
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding-left: 50px;
}

#topbar a {
	text-align: center;
	width: 250px;
}

.topbox {
	width: 260px;
}

#main {
	background-color: #E8D4DF; 
	height: 450px;
	padding-top: 25px;
}

.testimonials {
	background-color: #B5A5AE;
	height: 300px;
	padding-top: 25px;
}

.intro::first-line {
	/*font-weight: bold;*/
	font-size: 18px;
	color: white;
	font-weight: bold;
}

.intro::first-letter {
	/*font-weight: bold;*/
	float: left;
	margin: 2px 5px 0 0;
	padding: 5px 10px;
	background: #D4E6E8;
	font-size: 50px;
	line-height: 1;
	box-shadow: 5px 5px 5px #888888;

}

.testimonials h2 {
	font-size: 28px;
	font-weight: bold;
	color: #684056;;
}

a[href^="tel:"] {
	color: #333;
}

a[href^="tel:"]:before { 
	content: "\2706"; 
}

.copyright {
	float: right;
}


/*Main content container. Class to be used for header, nav, topbar div, main div, testimonial div and footer.*/
.centerwrap {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

/*Div class toolkit.*/

.clearit {
	clear: both;
}

.rightit {
	text-align: right;
}

.centerit {
	text-align: center;
}

.removeit {
	display: none;
}

.includeit {
	display: block;
}

.hideit {
	visibility: hidden;
}

.showit {
	visibility: visible;
}