/* 

This file contains all your CSS style rules. 
indent = 2 spaces, not tabs 

Reference: http://www.w3schools.com/css/default.asp

colors:
#649ABF
#43667F
#85CDFF
#213340
#78B8E5

*/

/* because every browser has a built in stylesheet we have to reset those properties that we want to manipulate later. We do this by setting those properties to zero for the entire HTML document and any other tag selectors we want to redefine from scratch*/
html {
  /* background: linear-gradient(to bottom, #649ABF, white ); */
  min-height: 100%;
}


html h1 {
  margin: 0;

}

/*=========================== CSS ============================*/
body {
  font-family: 'Helvetica Neue', sans-serif;
  max-height: auto;
  /* background: #649ABF; */
  background: linear-gradient(to bottom, #649ABF, white );
  min-height: 100%;


}

h1 {
  font-size: 3.00em;
  font-weight: 100;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 2.00em;
  font-weight: 100;
  letter-spacing: -1.5px;

}

h3 {
  font-size: 1.25em;
  font-weight: 100;
  text-transform: uppercase;

}

a {
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

p {
  font-size: 1.0em;
  font-weight: 100;
  text-transform: uppercase;

}

.container {
  width: 90%;
  max-width: 1000px;
  min-height: 100%;
}


/*=========================== Header ============================*/
img.align-center-logo {
  display: block;
  margin: 10px auto;
}

ul.nav {
  margin: 10px auto;
  padding: 0;
  list-style: none;
  text-align: center;
  /* background-color: #78B8E5; */
}

ul.nav li {
  display: inline;
}

ul.nav a {
  text-decoration: none;
  display: inline-block;
  margin: 0px 50px;
  padding: 0px;
  color: #213340;
}


/*=========================== Main ============================*/
.main {

}

img.align-center-image {
  display: inline-block;
  margin: 0 auto;
  padding: 0 px;
}

.address {
  text-align: center;
  font-size: 1.00em;
  font-weight: 100;
  margin: 60px 0px 0px 0px;
}



/*=========================== Footer ============================*/
.footer {
  border-top: 2px solid #78B8E5;
  padding: 0px;
  margin: 0px 0px 60px 0px;
  text-align: center;
  font-size: 1.00em;
  font-weight: 100;

}













