/*=========================== Media Queries ============================*/

/* -----Small ------*/
@media screen and ( max-width: 500px){
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12{
		width:100%,
	}

	nav li+li { 
	border-left: 0px solid #efefef;
}

	nav li{
		padding: 0;
		width:100%;  /* Determines if  the buttons are in one row or two */
		text-align: center;
		border-top: 2px solid #78B8E5;
	}

	nav a{
		border-radius:0;
		margin:0;
	}

	img{
		text-align: center;
	}

}

/* ----- Medium ------*/
@media screen and ( min-width: 500px, max-width: 900px){
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12{
		width:50%,
	}

	nav li{
		padding: 4% 0;
		width:50%;  /* Determines if  the buttons are in one row or two */
		text-align: center;
		display:list-item;
	}

	nav a{
		border-radius:0;
		margin:0;
	}

	img{
		text-align: center;
	}

	
}
