/*=========================== CSS styling ============================*/

html {
  min-height: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 945px;
}


.containter .nav {
	width:100%;
}

body {
	color: #333;
	background: linear-gradient(to bottom, #649ABF, white );
	font-family: Questrial, Arial, sans-serif;
}


header img {
	width: 100%;
}


p {
	padding-top: 3.5%; /*10px*/
	color: #333;
}

a{
	text-decoration: none;
	color: #f0f8ff;
	font-weight: bold;
}

.sectionbreak {
	border-top: 2px solid #efefef;
	width: 70%;
}

img{
	max-width:100%;
}


/*=========================== Navigation ============================*/

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul li a{
  	color: #333;

}


nav ul {
	margin: 0px;
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 18px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;

}
	nav ul:after {
		content: ""; 
		clear: both; 
		display: block;
	}


nav li+li { 
	border-left: 1px solid #efefef;
}


nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}
		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block; padding: 15px 40px;
	}


nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #4b545f;
			}



nav ul ul ul {
	position: absolute; left: 100%; top:0;
}


/*=========================== Topbar ============================*/

#topbar {
	/*background-color: #684056;*/
	/*border-top: 2px solid #685F64;*/
	margin-top: 2.5%;/*25px*/
	padding-top: 2.5%;/*25px*/
}

#topbar img {
	-moz-border-radius: 10%;/*100px*/
	border-radius: 125px;
	margin-left: 10%;/*25px*/
	margin-top: 10%;/*25px*/
}


#topbar li {
	margin-left: 2.5%;/*25px*/
	display: inline-block;
	text-align: center;
}

#topbar p {
	/* text-align: center;
	margin-left: 60px; */
	font-size: 1.15em; /* was 18px */
	font-weight: bold;
	text-align: center;
	padding-left: 10%;/*30px*/
}

#topbar a {
	text-align: center;
	width: 25%;/*250px*/
}

.topbox {
	width: 260px;
}


/*=========================== Main ============================*/

#main {
	/*background-color: #E8D4DF;*/ 
	padding-top: 2%;/*20px*/
	padding-bottom: 2%;/*20px*/
}

/*--------------------Services---------------------------------*/
.menu-item p, .menu-item h1 {
	padding: 0 0 20px 0;
}
.menu-item h2 {
	font-size: 1.5em;
	font-weight: 800;
}
.menu-item h3 {
	font-size: 1.2em;
}
.menu-item h1 {
	font-size: 1.5em;
	font-weight: 800;
	text-decoration: underline;
}
/*--------------------About---------------------------------*/

.about_txt {
	line-height: 1.5em;
	margin: 0 1.25% 5% 0;
	padding: 2% 2%;
}

.about_txt a {
	font-weight: normal;
	color: #333;
}

.about_txt a:hover {
	text-decoration: underline;
}

/*=====================Resources Page=========================*/

.resource_img img{
	height: 150px;
	background-color: lightblue;
}

.resource_links {
	float: left;
	line-height: 1.5em;
	margin: 0 1.25% 5% 0;
	padding: 2% 2%;
	width: 75%;
}

.resource_links li {
	list-style-type: disc;
	list-style-position: inside;
}

.resource_links a {
	font-weight: normal;
	color: #333;
}

.resource_links a:hover {
	text-decoration: underline;
}

.top_reasons {
	background-color: transparent;
	color: #305872;
	border-left: 5px solid #305872;
	border-right: 5px solid #305872;
	border-radius: 5px;
	margin: 1em 10px;
	padding: .5em 10px;
}

.top_reasons {
	box-shadow: 5px 5px 10px #305872;
}

.top_reasons h2 {
	font-size: 1.5em;
	font-weight: bold;
	padding: 2% 0;
	font-variant: small-caps;
}

.top_reasons ul {
	line-height: 1.5em;
	text-align: left;
}

.top_reasons li {
	list-style-type: circle;
	list-style-position: outside;
	margin-left: 5%;
	font-size: 1em;
}

/*=========================== Testimonials ============================*/

.testimonials {
	background-color: #649ABF;
	padding-top: 2%;/*20px*/
	padding-bottom: 2%;/*20px*/
}

.testimonials h2 {
	font-size: 1.8em; /* was 28px */
	font-weight: bold;
	padding-bottom: 2%;/*20px*/
	color: #f0f8ff;
}

.intro::first-line {
	/*font-weight: bold;*/
	font-size: 1.15em; /* was 18px */
	/*color: #f0f8ff;*/
}

.intro::first-letter {
	/*font-weight: bold;*/
	float: left;
	color: #f0f8ff;
	margin: 0 0 0 0;/* 0 10px 5px 0 */
	/*padding: .5% 1.5%; /*5px 10px*/
	/*background: #305872;*/
	font-size: 2.75em;/* was 50px */
	line-height: 1;
	/*box-shadow: 2px 2px 4px #343B3F;*/

}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	border-radius: 5px;
	margin: .5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  color: #47A3B0;
}

/*=========================== Google Map Styles ============================*/
.fluid-wrapper {
    position: relative;
   	margin-top: 20px;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        border: none;
}

/*=========================== Footer ============================*/

footer {
	background-color: #305872;
	padding-top: 2%;/*20px*/
	height: 250px;
	color: #f0f8ff;
}

footer p {
	color: #f0f8ff;
}

footer h3 {
	font-size: 1.25em; /* was 20px */
	padding-bottom: 1.5%;/*15px*/
}

footer a {
	font-weight: normal;
}

footer a[href^="tel:"] {
	color: #f0f8ff;
	font-weight: normal;
}

footer a[href^="tel:"]:before { 
	content: "\2706";
}

.copyright {
	float: right;
}


/*=========================== Div class toolkit ============================*/

/*These properties can be used to float, align, remove or hide certain elements in your html.*/

.clearit {
	clear: both;
}

.rightit {
	text-align: right;
}

.centerit {
	text-align: center;
}

.removeit {
	display: none;
}

.includeit {
	display: block;
}

.hideit {
	visibility: hidden;
}

.showit {
	visibility: visible;
}









	
	











